.ck-password-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.center {
  display: flex;
  align-items: center;   /* vertical */
  justify-content: center; /* horizontal */
}


.ck-forgot {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: #ff914d;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.ck-forgot:hover {
  opacity: 0.85;
}
