.action-row,
.butt,
.animated-border-btn {
  margin-left: 0 !important;
  margin-right: 0 !important;
  transform: none !important;
}

.ck-submit-btn {
  margin-left: 0 !important;
  margin-right: 0 !important;
  transform: none !important;
}